<!DOCTYPE html>
<html>
<head>
    <title>TFT Cheat Sheet</title>
    <!-- Add CSS links here (if any) -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/query">Champions</a>
        <a href="/augments">Team Builder</a>
        <a href="/recommendations">Recommendations</a>
    </div>
    <h1>Welcome to the TFT Cheat Sheet</h1>
    <div class="intro-box">
        <p>
            This is a web scraping tool created for TFT (Teamfight Tactics) players to 
            build their compositions during a game. This website can help you succeed in your games
            with our compositions builder, detailed champions information pages, and a unique 
            augment recommending system based on player data around the world.
        </p>
        <p>
            For beginner's guides, check out <a href="https://tfthandbook.com/" target="_blank">Robinsongz's TFT handbook</a>, 
            which includes popular compositions and game strategies for you to succeed in your game of TFT.
        </p>
        
    </div>
</body>
</html>